/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_scss/_start.scss */
*, *:after, *:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-smoothing: grayscale;
  outline: none;
}

/* line 10, ../_scss/_start.scss */
body {
  position: relative;
  font-weight: 400;
  height: auto;
  min-height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'adelle-sans';
  line-height: 33px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: background-color 1s;
}

/* line 27, ../_scss/_start.scss */
.gone {
  min-width: 64px;
  float: right;
  margin-top: 5px;
  opacity: 0.3;
  position: relative;
  z-index: 999;
}

/* line 36, ../_scss/_start.scss */
.gone:hover {
  opacity: 1;
}

/* line 40, ../_scss/_start.scss */
body:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
}

/* line 46, ../_scss/_start.scss */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden !important;
  margin: auto;
}

/* line 55, ../_scss/_start.scss */
.container {
  overflow-x: hidden !important;
  margin: auto;
  height: 100%;
}

/* line 61, ../_scss/_start.scss */
.intro .white {
  max-height: 100%;
}

/* line 69, ../_scss/_start.scss */
.intro .header,
.overview .header,
.listview .header,
.dozen .header {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
/* line 84, ../_scss/_start.scss */
.intro .header aside,
.intro .header header,
.overview .header aside,
.overview .header header,
.listview .header aside,
.listview .header header,
.dozen .header aside,
.dozen .header header {
  padding: 5px;
  margin-top: 16px;
  width: 50%;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

/* line 99, ../_scss/_start.scss */
.tags .optionHeader, .feedback .optionHeader, .overview .optionHeader, .listview .optionHeader {
  margin-top: 150px;
  margin-bottom: -22px;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 109, ../_scss/_start.scss */
.tags .optionHeader h1, .feedback .optionHeader h1, .overview .optionHeader h1, .listview .optionHeader h1 {
  border-bottom: 3px solid black;
  font-size: 4.8em;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-family: vollkornregular;
  color: black;
}
/* line 117, ../_scss/_start.scss */
.tags .optionHeader h1 span, .feedback .optionHeader h1 span, .overview .optionHeader h1 span, .listview .optionHeader h1 span {
  color: #5cd8af;
}
/* line 122, ../_scss/_start.scss */
.tags .optionHeader hr, .feedback .optionHeader hr, .overview .optionHeader hr, .listview .optionHeader hr {
  width: 100%;
  border-bottom: 0px solid rgba(0, 0, 0, 0.6);
}

/* line 129, ../_scss/_start.scss */
header h1,
header img {
  margin: 0;
}

/* line 134, ../_scss/_start.scss */
header h1 {
  font-family: vollkornsemibold;
}

/* line 138, ../_scss/_start.scss */
h2 span {
  color: #5cd8af;
  font-size: 1.3em;
  font-family: vollkornregular;
}

/* line 144, ../_scss/_start.scss */
.dozen .detail,
.dozen .listdetail,
.dozen .box_detail,
.dozen .proj_detail,
.intro .tagdetail,
.intro .listdetail,
.listview .boxes .detail,
.listview .boxes .tagdetail,
.listview .box_detail,
.listview .proj_detail,
.overview .lamp {
  display: none;
}

/* line 158, ../_scss/_start.scss */
.intro .header aside,
.overview .header aside,
.listview .header aside,
.dozen .header aside {
  width: 100px;
  height: 100px;
  margin-top: 40px;
}

/* line 167, ../_scss/_start.scss */
.lamp {
  width: 75%;
  transition: 0.5s;
}

/* line 173, ../_scss/_start.scss */
.header.white {
  position: relative;
  color: black;
}
/* line 176, ../_scss/_start.scss */
.header.white .lamp {
  margin-top: -25px;
  width: 100%;
  z-index: 20;
  top: 0;
}
/* line 184, ../_scss/_start.scss */
.header.white .blur {
  position: absolute;
  z-index: 1;
  top: 0;
  border-radius: 50%;
  width: 30%;
  height: 100%;
  margin-left: 10%;
  z-index: -3;
  background-color: rgba(0, 0, 0, 0.3) !important;
  -webkit-filter: blur(55px);
  -webkit-transition: -webkit-filter .5s;
}
/* line 200, ../_scss/_start.scss */
.header.white div {
  background-color: black;
  min-width: 20px;
  min-height: 20px;
}

/* line 223, ../_scss/_start.scss */
.intro header h1,
.listview header h1,
.overview header h1,
.dozen header h1 {
  display: flex;
  -webkit-flex-flow: row;
  justify-content: center;
  align-items: center;
}
/* line 234, ../_scss/_start.scss */
.intro header h1 div,
.listview header h1 div,
.overview header h1 div,
.dozen header h1 div {
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  background: black;
  margin: 0 15px;
}

/* line 244, ../_scss/_start.scss */
.intro header h1 {
  margin-top: -180px;
}

/* line 248, ../_scss/_start.scss */
.overview header h1,
.listview header h1 {
  margin-top: -10px;
}

/* line 254, ../_scss/_start.scss */
header {
  margin-bottom: 20px;
}

/* line 258, ../_scss/_start.scss */
.feedback .field {
  margin: 30px 20px;
}

/* line 262, ../_scss/_start.scss */
.dozen .tags .tagresults h2,
.feedback .results h3 {
  display: none;
}

/* line 271, ../_scss/_start.scss */
.dozen h3 {
  display: block;
}

/* line 275, ../_scss/_start.scss */
.results {
  clear: both;
  margin: 20px;
}

/* line 280, ../_scss/_start.scss */
em {
  background-image: url("../assets/close.svg");
  background-size: 226px 215px;
}

/* line 285, ../_scss/_start.scss */
.inputwrapper span,
.inputwrapper .item {
  font-size: 2em;
  padding: 0 6px;
  color: #5cd8af;
  font-family: vollkornregular;
}

/* line 299, ../_scss/_start.scss */
.inputwrapper span.remove {
  background-image: url("../assets/close.svg");
  background-repeat: no-repeat;
  height: 100%;
  margin-top: 52px;
  padding: 0px 25px 6px 5px;
  margin-left: -3px;
}

/* line 308, ../_scss/_start.scss */
.taglist {
  height: 75px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  -webkit-flex-flow: row wrap;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  text-decoration: none;
  border: none;
}
/* line 322, ../_scss/_start.scss */
.taglist::-webkit-scrollbar {
  display: none;
}
/* line 326, ../_scss/_start.scss */
.taglist li {
  height: 100%;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

/* line 337, ../_scss/_start.scss */
.inputwrapper {
  margin: 8px;
}

/* line 341, ../_scss/_start.scss */
.inputwrapper span {
  margin-bottom: 10px;
}

/* line 345, ../_scss/_start.scss */
.inputwrap {
  left: 0;
  overflow: visible;
  position: relative;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-transition-property: left;
  transition-property: left;
  margin-bottom: 30px;
  display: block;
}
/* line 356, ../_scss/_start.scss */
.inputwrap .item.input input {
  margin: 0;
}

/* line 361, ../_scss/_start.scss */
.input {
  width: 100%;
}

/* line 366, ../_scss/_start.scss */
input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #828282;
  font-size: 45px;
  padding-left: 14px;
}

/* line 372, ../_scss/_start.scss */
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #828282;
  font-size: 45px;
  padding-left: 14px;
}

/* line 378, ../_scss/_start.scss */
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #828282;
  font-size: 45px;
  padding-left: 14px;
}

/* line 384, ../_scss/_start.scss */
input[placeholder] {
  color: #828282;
  font-size: 45px;
  padding-left: 14px;
}

/* line 389, ../_scss/_start.scss */
::-moz-placeholder {
  color: #828282;
  font-size: 5em;
  padding-left: 14px;
}

/* firefox 19+ */
/* line 395, ../_scss/_start.scss */
input:-moz-placeholder {
  color: #828282;
  font-size: 45px;
  padding-left: 14px;
}

/* line 401, ../_scss/_start.scss */
input:-moz-placeholder {
  /* Firefox 18- */
  color: #828282;
  font-size: 45px;
  padding-left: 14px;
}

/* line 407, ../_scss/_start.scss */
.errortext {
  text-align: center;
  color: white;
}

/* line 412, ../_scss/_start.scss */
.follower {
  position: relative;
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 50px;
}

/* HTML5 display-role reset for older browsers */
/* line 421, ../_scss/_start.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 426, ../_scss/_start.scss */
body {
  line-height: 1;
}

/* line 430, ../_scss/_start.scss */
ol, ul {
  list-style: none;
}

/* line 434, ../_scss/_start.scss */
blockquote, q {
  quotes: none;
}

/* line 438, ../_scss/_start.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 443, ../_scss/_start.scss */
.students {
  width: 100%;
}

/* line 447, ../_scss/_start.scss */
td,
th {
  text-align: left;
  padding: 10px;
}

/* line 453, ../_scss/_start.scss */
h1 {
  font-size: 1.5em;
}

/* line 457, ../_scss/_start.scss */
th {
  font-weight: bold;
}

/* line 461, ../_scss/_start.scss */
.filter,
.name {
  font-size: 1.5em;
  margin-bottom: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #828282;
  height: 60px;
  width: 100%;
}

/* line 473, ../_scss/_start.scss */
form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  margin-bottom: 40px;
  margin-top: -21px;
  position: relative;
  z-index: 13000;
}
/* line 483, ../_scss/_start.scss */
form h2 {
  border-bottom: 3px solid black;
  font-size: 4.7em;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: vollkornregular;
}
/* line 491, ../_scss/_start.scss */
form .name {
  margin: 60px 0px;
  width: 100%;
  height: 75px;
}

/* line 498, ../_scss/_start.scss */
.overview form {
  margin-top: 0px !important;
}

/* line 502, ../_scss/_start.scss */
.add {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid black;
  background-color: white;
  padding: 0px 48px;
  font-size: 4.5em;
  font-family: vollkornregular;
}

/* line 513, ../_scss/_start.scss */
.dozen > .delete {
  margin-top: 10px;
  display: block;
}

/* line 518, ../_scss/_start.scss */
.feedback {
  margin-top: 20px;
}

/* line 522, ../_scss/_start.scss */
.addfeedback {
  margin-top: 10px;
}

/* line 526, ../_scss/_start.scss */
li {
  margin-top: 5px;
}

/* line 530, ../_scss/_start.scss */
.feedback ul {
  margin-top: 20px;
}

/* line 534, ../_scss/_start.scss */
#popup {
  position: absolute;
  z-index: 15000;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  text-align: center;
}
/* line 545, ../_scss/_start.scss */
#popup div {
  display: inline-block;
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin-top: 34vh;
}
/* line 552, ../_scss/_start.scss */
#popup div h2 {
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #000;
  z-index: 45;
  font-family: vollkornregular;
  pointer-events: none;
  height: 30%;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* line 569, ../_scss/_start.scss */
#popup div a {
  font-family: vollkornsemibold;
  text-decoration: none;
  color: #000;
  font-size: 3em;
  text-transform: uppercase;
  margin: 0 20px;
}
/* line 578, ../_scss/_start.scss */
#popup div a:hover {
  color: #5cd8af;
}

/* line 584, ../_scss/_start.scss */
.scroll_down {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 40px;
  width: 190px;
  left: 94%;
  margin-left: -20px;
  position: fixed;
  bottom: 10px;
}

/* line 596, ../_scss/_start.scss */
a {
  text-decoration: none;
}

/* line 600, ../_scss/_start.scss */
.hidden,
.hiddenbutton {
  display: none;
}

/* line 606, ../_scss/_start.scss */
.header h1.home {
  cursor: pointer;
}

/* line 1, ../_scss/_intro.scss */
.intro .boxes,
.overview .boxes,
.listview .boxes,
.dozen .results {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 12, ../_scss/_intro.scss */
.intro .boxes .tag,
.intro .boxes .box,
.overview .boxes .tag,
.overview .boxes .box,
.listview .boxes .tag,
.listview .boxes .box,
.dozen .results .tag,
.dozen .results .box {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* line 18, ../_scss/_intro.scss */
.intro .boxes .tag li,
.intro .boxes .box li,
.overview .boxes .tag li,
.overview .boxes .box li,
.listview .boxes .tag li,
.listview .boxes .box li,
.dozen .results .tag li,
.dozen .results .box li {
  text-decoration: none;
  list-style-type: none;
}

/* line 25, ../_scss/_intro.scss */
.intro .boxes .tag li,
.dozen .feedback .results .detail li,
.listview .boxes .box li {
  margin: 90px 0;
}
/* line 31, ../_scss/_intro.scss */
.intro .boxes .tag li a,
.dozen .feedback .results .detail li a,
.listview .boxes .box li a {
  text-decoration: none;
  color: black;
}
/* line 36, ../_scss/_intro.scss */
.intro .boxes .tag li h2,
.dozen .feedback .results .detail li h2,
.listview .boxes .box li h2 {
  border-bottom: 5px solid black;
  font-size: 6em;
  font-family: vollkornsemibold;
}
/* line 42, ../_scss/_intro.scss */
.intro .boxes .tag li h3,
.dozen .feedback .results .detail li h3,
.listview .boxes .box li h3 {
  font-size: 2.3em;
  margin-top: 25px;
  font-family: vollkornregular;
  text-transform: uppercase;
}
/* line 49, ../_scss/_intro.scss */
.intro .boxes .tag li p,
.dozen .feedback .results .detail li p,
.listview .boxes .box li p {
  font-size: 2em;
  margin-top: 11px;
  color: #828282;
  font-family: vollkornregular;
}

/* line 57, ../_scss/_intro.scss */
.listview .optionHeader {
  margin-top: 0px;
  margin-bottom: 130px;
}
/* line 59, ../_scss/_intro.scss */
.listview .optionHeader h1 {
  color: #5cd8af;
}

/* line 66, ../_scss/_intro.scss */
.listview .boxes .box li span {
  text-transform: uppercase;
  margin-right: 10px;
}

/* line 71, ../_scss/_intro.scss */
.overview .boxes .box li,
.dozen .results li {
  margin: 90px 0;
}
/* line 76, ../_scss/_intro.scss */
.overview .boxes .box li a,
.dozen .results li a {
  text-decoration: none;
  color: black;
}
/* line 81, ../_scss/_intro.scss */
.overview .boxes .box li h2,
.dozen .results li h2 {
  font-size: 6em;
  font-family: vollkornsemibold;
  float: left;
}
/* line 87, ../_scss/_intro.scss */
.overview .boxes .box li h3,
.dozen .results li h3 {
  font-size: 3em;
  margin-top: 15px;
  font-family: vollkornregular;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
  padding: 15px 5px;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
/* line 103, ../_scss/_intro.scss */
.overview .boxes .box li h3 img,
.dozen .results li h3 img {
  max-width: 40px;
}

/* line 1, ../_scss/_tags.scss */
.dozen .tagresults {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}
/* line 7, ../_scss/_tags.scss */
.dozen .tagresults .tag,
.dozen .tagresults .box {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* line 13, ../_scss/_tags.scss */
.dozen .tagresults .tag li,
.dozen .tagresults .box li {
  text-decoration: none;
  list-style-type: none;
}

/* line 20, ../_scss/_tags.scss */
.dozen .tagresults {
  margin-top: 120px;
  margin-bottom: 60px;
}

/* line 26, ../_scss/_tags.scss */
.dozen .tagresults li {
  border-bottom: 1px solid #adadad;
  padding: 25px 10px;
  margin-top: 0;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
/* line 37, ../_scss/_tags.scss */
.dozen .tagresults li a {
  min-width: 85px;
  float: right;
}
/* line 44, ../_scss/_tags.scss */
.dozen .tagresults li p {
  font-size: 4.3em;
  float: left;
  color: #474747;
  font-family: vollkornregular;
}

@media (max-width: 480px) {
  /* line 5, ../_scss/_queries.scss */
  .header.white .lamp {
    margin-top: -20px;
    width: 50%;
  }

  /* line 10, ../_scss/_queries.scss */
  .intro .header aside,
  .overview .header aside,
  .listview .header aside,
  .dozen .header aside {
    margin-top: -49px;
    width: 40px;
  }

  /* line 18, ../_scss/_queries.scss */
  .intro .header > header {
    width: 65%;
  }

  /* line 22, ../_scss/_queries.scss */
  .intro header h1 div,
  .overview header h1 div,
  .listview header h1 div,
  .dozen header h1 div,
  .header.white div {
    margin: 0 3px;
    min-width: 7px;
    min-height: 7px;
  }

  /* line 32, ../_scss/_queries.scss */
  h1 {
    max-width: 100%;
    font-size: 0.7em;
  }

  /* line 37, ../_scss/_queries.scss */
  form {
    max-width: 70%;
    margin-top: -100px;
    margin-bottom: 0;
  }
  /* line 42, ../_scss/_queries.scss */
  form h2 {
    font-size: 1.9em;
  }
  /* line 46, ../_scss/_queries.scss */
  form span {
    font-size: 1.2em;
  }
  /* line 50, ../_scss/_queries.scss */
  form .name {
    height: 40px;
    margin: 30px 0;
  }

  /* line 56, ../_scss/_queries.scss */
  .tags .optionHeader,
  .feedback .optionHeader,
  .overview .optionHeader {
    max-width: 70%;
    margin-top: 80px;
  }
  /* line 62, ../_scss/_queries.scss */
  .tags .optionHeader h1,
  .feedback .optionHeader h1,
  .overview .optionHeader h1 {
    font-size: 1.9em;
  }

  /* line 68, ../_scss/_queries.scss */
  .listview .optionHeader {
    margin-top: -40px;
    max-width: 70%;
  }
  /* line 71, ../_scss/_queries.scss */
  .listview .optionHeader h1 {
    font-size: 1.9em;
  }

  /* line 76, ../_scss/_queries.scss */
  .add {
    font-size: 2em;
    border: 3px solid black;
    padding: 0px 33px;
  }

  /* line 82, ../_scss/_queries.scss */
  .filter {
    height: 40px;
  }

  /* line 86, ../_scss/_queries.scss */
  .white.form input {
    padding: 0;
    margin-top: 30px;
  }

  /* line 91, ../_scss/_queries.scss */
  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 50px;
  }

  /* line 98, ../_scss/_queries.scss */
  .lamp {
    margin-top: -50px;
    margin-bottom: 20px;
  }

  /* line 103, ../_scss/_queries.scss */
  .intro .boxes,
  .overview .boxes,
  .listview .boxes,
  .dozen .results,
  .dozen .tagresults {
    max-width: 70%;
  }

  /* line 113, ../_scss/_queries.scss */
  .intro .boxes .tag li h2,
  .dozen .feedback .results .detail li h2 {
    font-size: 4em;
  }

  /* line 118, ../_scss/_queries.scss */
  .intro .boxes .tag li h3,
  .dozen .feedback .results .detail li h3 {
    font-size: 1.3em;
    margin-top: 15px;
  }

  /* line 124, ../_scss/_queries.scss */
  .intro .boxes .tag li p,
  .dozen .feedback .results .detail li p {
    font-size: 1.5em;
    margin-top: 7px;
  }

  /* line 130, ../_scss/_queries.scss */
  input[placeholder] {
    font-size: 27px;
  }

  /* line 134, ../_scss/_queries.scss */
  .intro .boxes .tag li,
  .dozen .feedback .results .detail li,
  .overview .boxes .box li,
  .listview .boxes .box li
  .dozen .results li {
    margin: 50px 0;
  }

  /* line 142, ../_scss/_queries.scss */
  .overview .boxes .box li h2,
  .listview .boxes .box li h2,
  .dozen .results li h2 {
    font-size: 3em;
  }

  /* line 148, ../_scss/_queries.scss */
  .overview .boxes .box li h3,
  .listview .boxes .box li h3
  .dozen .results li h3 {
    font-size: 1.6em;
  }

  /* line 154, ../_scss/_queries.scss */
  .overview .boxes .box li h3 img,
  .dozen .results li h3 img {
    max-width: 20px;
  }

  /* line 160, ../_scss/_queries.scss */
  .overview header h1,
  .listview header h1 {
    margin-top: -15px;
    font-size: 0.6em;
  }
  /* line 165, ../_scss/_queries.scss */
  .overview header h1 div,
  .listview header h1 div {
    min-width: 10px;
    min-height: 10px;
  }

  /* line 171, ../_scss/_queries.scss */
  .overview .boxes .box li h3,
  .listview .boxes .box li h3
  .dozen .results li h3 {
    padding: 7px 5px;
  }

  /* line 177, ../_scss/_queries.scss */
  .dozen .tagresults li a {
    min-width: 30px;
    float: right;
    margin-top: 8px;
  }

  /* line 183, ../_scss/_queries.scss */
  .dozen .tagresults li p {
    font-size: 2.3em;
  }

  /* line 187, ../_scss/_queries.scss */
  .dozen .tagresults li {
    padding: 14px 10px;
  }

  /* line 191, ../_scss/_queries.scss */
  .dozen .header header {
    margin-top: -55px;
  }
  /* line 193, ../_scss/_queries.scss */
  .dozen .header header h1 {
    font-size: 0.6em;
  }

  /* line 198, ../_scss/_queries.scss */
  .dozen .tagresults {
    margin-top: 50px;
  }

  /* line 202, ../_scss/_queries.scss */
  .taglist {
    height: 40px;
    margin-top: 5px;
  }

  /* line 207, ../_scss/_queries.scss */
  .dozen form,
  .overview form {
    margin-top: -45px;
  }

  /* line 212, ../_scss/_queries.scss */
  .inputwrapper span.remove {
    margin-top: 22px;
    padding: 0px 18px 6px 5px;
  }
}
@media only screen and (max-width: 830px) {
  /* line 219, ../_scss/_queries.scss */
  form {
    max-width: 70%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1200px) {
  /* line 226, ../_scss/_queries.scss */
  .intro .header aside, .overview .header aside, .listview .header aside, .dozen .header aside {
    width: 60px;
    height: 60px;
    margin-top: -20px;
  }

  /* line 232, ../_scss/_queries.scss */
  .intro .header header, .overview .header header, .listview .header header, .dozen .header header {
    font-size: 2.5em;
    margin-top: -27px;
  }

  /* line 237, ../_scss/_queries.scss */
  .intro header h1 div, .overview header h1 div, .listview header h1 div, .dozen .header header {
    min-width: 15px;
    min-height: 15px;
  }

  /* line 242, ../_scss/_queries.scss */
  .header.white header h1 {
    margin-top: -130px;
  }
}
@media (min-width: 480px) and (max-width: 650px) {
  /* line 251, ../_scss/_queries.scss */
  .dozen .header header h1 {
    font-size: 0.8em;
  }

  /* line 254, ../_scss/_queries.scss */
  .intro header h1 div,
  .overview header h1 div,
  .listview header h1 div,
  .dozen header h1 div {
    min-width: 10px;
    min-height: 10px;
  }

  /* line 262, ../_scss/_queries.scss */
  .intro .header aside,
  .overview .header aside,
  .listview .header aside,
  .dozen .header aside {
    width: 50px;
    margin-top: -30px;
  }

  /* line 270, ../_scss/_queries.scss */
  .intro .header header,
  .overview .header header,
  .dozen .header header {
    margin-top: -24px;
  }

  /* line 276, ../_scss/_queries.scss */
  form h2 {
    font-size: 3em;
  }

  /* line 280, ../_scss/_queries.scss */
  .tags .optionHeader h1,
  .feedback .optionHeader h1,
  .overview .optionHeader h1,
  .listview .optionHeader h1 {
    font-size: 3em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 580px) {
  /* line 289, ../_scss/_queries.scss */
  .intro header h1,
  .overview header h1,
  .listview header h1,
  .dozen header h1 {
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 650px) {
  /* line 298, ../_scss/_queries.scss */
  .intro header h1 {
    margin-top: -140px;
  }
}
@media (min-width: 480px) and (max-width: 840px) {
  /* line 304, ../_scss/_queries.scss */
  .header.white .lamp {
    margin-top: -100px;
    width: 40%;
  }

  /* line 309, ../_scss/_queries.scss */
  .intro .boxes,
  .overview .boxes,
  .dozen .results,
  .dozen .tagresults,
  .tags .optionHeader,
  .feedback .optionHeader,
  .overview .optionHeader,
  .listview .boxes,
  .listview .optionHeader,
  form {
    max-width: 70%;
  }

  /* line 322, ../_scss/_queries.scss */
  .intro header h1 {
    font-size: 0.7em;
  }

  /* line 326, ../_scss/_queries.scss */
  .header.white div {
    min-width: 10px;
    min-height: 10px;
    margin: 0 7px;
  }

  /* line 332, ../_scss/_queries.scss */
  .lamp {
    margin-top: -25px;
  }
}
@media (min-width: 840px) {
  /* line 339, ../_scss/_queries.scss */
  .header.white .lamp {
    margin-top: -200px;
    width: 40%;
  }

  /* line 344, ../_scss/_queries.scss */
  .lamp {
    margin-top: -25px;
  }
}
@media (min-width: 1300px) {
  /* line 350, ../_scss/_queries.scss */
  .header.white .lamp {
    margin-top: -365px;
    width: 40%;
  }

  /* line 355, ../_scss/_queries.scss */
  .lamp {
    margin-top: -150px;
  }
}
