@media (max-width:480px) {	

	//white

	.header.white .lamp {
		margin-top: -20px;
		width: 50%;
	}

	.intro .header aside,
	.overview .header aside,
	.listview .header aside,
	.dozen .header aside {
		margin-top: -49px;
		width: 40px;
	}

	.intro .header > header {
		width: 65%;
	}

	.intro header h1 div, 
	.overview header h1 div, 
	.listview header h1 div,
	.dozen header h1 div,
	.header.white div {
		margin: 0 3px;
		min-width: 7px;
		min-height: 7px;
	}

	h1 {
		max-width: 100%;
		font-size: 0.7em;
	}

	form {
		max-width: 70%;
		margin-top: -100px;
		margin-bottom: 0;

		h2 {
			font-size: 1.9em;
		}

		span {
			font-size: 1.2em;
		}

		.name {
			height: 40px;
			margin: 30px 0;
		}
	}

	.tags .optionHeader, .feedback .optionHeader, .overview .optionHeader {
		max-width: 70%;
		margin-top: 80px;

		h1 {
			font-size: 1.9em;
		}

	}

	.listview .optionHeader {
		margin-top: -40px;
		max-width: 70%;
		h1 {
			font-size: 1.9em;
		}
	}

	.add {
		font-size: 2em;
		border: 3px solid black;
    	padding: 0px 33px;
	}

	.filter {
		height: 40px;
	}

	.white.form input {
		padding: 0;
	}

	input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #fff;
	  font-size: 50px;
	}

	//black

	.lamp {
		margin-top: -50px;
		margin-bottom: 20px
	}

	.intro .boxes, 
	.overview .boxes, 
	.listview .boxes,
	.dozen .results,
	.dozen .tagresults {
		max-width: 70%;
	}

	//fontsize 

	.intro .boxes .tag li h2, 
	.dozen .feedback .results .detail li h2 {
		font-size: 4em;
	}

	.intro .boxes .tag li h3, 
	.dozen .feedback .results .detail li h3 {
    	font-size: 1.3em;
    	margin-top: 15px;
	}

	.intro .boxes .tag li p, 
	.dozen .feedback .results .detail li p {
    	font-size: 1.5em;
    	margin-top: 7px;
    }

	input[placeholder] {
		font-size: 27px;
	}

	.intro .boxes .tag li, 
	.dozen .feedback .results .detail li,
	.overview .boxes .box li,
	.listview .boxes .box li 
	.dozen .results li  {
    	margin: 50px 0;
	}

	.overview .boxes .box li h2,
	.listview .boxes .box li h2, 
	.dozen .results li h2 {
		font-size: 3em;
	}

	.overview .boxes .box li h3,
	.listview .boxes .box li h3 
	.dozen .results li h3 {
    	font-size: 1.6em;
    }

    .overview .boxes .box li h3 img,
    .dozen .results li h3 img {
    	max-width: 20px;

	}

	.overview header h1,
	.listview header h1 {
	    margin-top: -70px;
	    font-size: 0.6em;
	}

	.overview .boxes .box li h3, 
	.listview .boxes .box li h3
	.dozen .results li h3 {
		padding: 7px 5px;
	}

	.dozen .tagresults li a {
	    min-width: 30px;
	    float: right;
	    margin-top: 8px;
	}

	.dozen .tagresults li p {
    	font-size: 2.3em;
    }

    .dozen .tagresults li {
    	padding: 14px 10px;
    }

    .dozen .header header {
    	margin-top: -55px;
    	h1 {
    		font-size: 0.6em;
    	}
    }

    .dozen .tagresults {
    	margin-top: 50px;
    }

    .taglist {
    	height: 40px;
    	margin-top: 5px;
    }

    .dozen form,
    .overview form {
    	margin-top: -45px;
    }

    .inputwrapper span.remove {
	    margin-top: 22px;
	    padding: 0px 18px 6px 5px;
	}
}

@media only screen and (max-width:830px){
	form {
		max-width: 70%;
	}
	
}

@media only screen and (min-width:480px) and (max-width: 1200px){
	.intro .header aside, .overview .header aside, .listview .header aside, .dozen .header aside {
		width: 60px;
		height: 60px;
		margin-top: -20px;
	}
}


@media (min-width:480px) and (max-width: 650px) {
	.dozen .header header h1 {
	    font-size: 0.8em;
	}
	.intro header h1 div, 
	.overview header h1 div, 
	.listview header h1 div, 
	.dozen header h1 div {
		min-width: 15px;
		min-height: 15px;
	}

	.intro .header aside, 
	.overview .header aside, 
	.listview .header aside
	.dozen .header aside {
		width: 50px;
		margin-top: -30px;
	}

	.intro .header header, 
	.overview .header header, 
	.dozen .header header {
		margin-top: -24px;
	}

	form h2 {
		font-size: 3em;
	}

	.tags .optionHeader h1, 
	.feedback .optionHeader h1, 
	.overview .optionHeader h1,
	.listview .optionHeader h1 {
		font-size: 3em;
	}
}

@media only screen and (min-width:480px) and (max-width:580px){
	.intro header h1, 
	.overview header h1, 
	.listview header h1, 
	.dozen header h1 {
		font-size: 0.7em;
	}
}

@media only screen and (min-width:480px) and (max-width:650px){
	.intro header h1 {
		margin-top: -140px;
	}
}

@media (min-width:480px) and (max-width: 840px) { 
	.header.white .lamp {
		margin-top: -100px;
		width: 40%;
	}
	
	.intro .boxes, 
	.overview .boxes, 
	.dozen .results,
	.dozen .tagresults,
	.tags .optionHeader, 
	.feedback .optionHeader, 
	.overview .optionHeader,
	.listview .boxes,
	.listview .optionHeader
	form {
		max-width: 70%;
	}

	.intro header h1 {
		font-size: 0.7em;
	}

	.header.white div {
		min-width: 10px;
		min-height: 10px;
		margin: 0 7px;
	}

	.lamp {
		margin-top: -25px;
	}

}

@media (min-width:840px) {
	.header.white .lamp {
		margin-top: -200px;
		width: 40%;
	}

	.lamp {
		margin-top: -25px;
	}
}

@media (min-width:1300px) {
	.header.white .lamp {
		margin-top: -365px;
		width: 40%;
	}

	.lamp {
		margin-top: -150px;
	}
}

