<div class="header white">
    <aside>
        <a href="#" class="home"><img src="assets/maister_logo.svg" alt=""/></a>
    </aside>
    <header>
        <img class="lamp" src="assets/lamp_white.svg" alt=""/>
    </header>
     <aside>
        <a href="#" class="addButton"><img src="assets/plus.svg" alt=""/></a>
    </aside>
    <header>
        <h1><div></div>ORGAMAISTER<div></div></h1>
    </header>
</div>

<form class="white form">
   <input type="text" name="filter" placeholder="..." class="filter"/>
</form>


<table class="boxes">

    <tbody class="box">
    </tbody>

    <tbody class="tag" data-wow-delay="1s">
    </tbody>

     <tbody class="project">
    </tbody>

</table>