<div class="header">
    <aside>
        <a href="#" class="home"><img src="assets/Maister_logo_green.svg" alt=""/></a>
    </aside>
    <header>
        <h1><div></div>ORGAMAISTER<div></div></h1>
    </header>
    <aside>
        <a href="#" class="addButton"><img src="" alt=""/></a>
    </aside>
</div>

<form>
    <h2>Voeg een doos toe</h2>
    <input type="text" name="name" class="name" value="" placeholder="..."/>
    <input type="submit" value="klaar" class="add"/>
</form>

<table class="boxes">

     <tbody class="box">
    </tbody>

</table>