<div class="header">
    <aside>
        <a href="#" class="home"><img src="assets/Maister_logo_green.svg" alt=""/></a>
    </aside>
    <header>
        <h1 class="home"><div></div>ORGAMAISTER<div></div></h1>
    </header>
    <aside>
        <a href="#" class="addButton"><img src="" alt=""/></a>
    </aside>
</div>

<form>
    <h2>Zoek een doos</h2>
    <hr>
    <input type="text" name="name" class="name" value="" placeholder="..."/>
    <input type="submit" value="voeg doos toe" class="add"/>
</form>

<img class="scroll_down" src="assets/arrow_down.svg" alt="scroll down"/>

<div class="optionHeader"> 
  <h1>Overzicht dozen</h1>
  <hr>
</div>

<table class="boxes">
    <tbody class="box"></tbody>

</table>
