<a href="#" class="detail">
	<h2>{{box_name}}</h2>
	<h3>{{name}}</h3>
	<p>{{tags_list}}</p>
</a>

<a href="#" class="tagdetail">
	<h2>{{name}}</h2>
	<h3>
		tags
		<img src="assets/arrow_green.svg" alt=""/>
	</h3>
</a>
