<div class="header">
    <aside>
        <a href="#" class="home"><img src="assets/Maister_logo_green.svg" alt=""/></a>
    </aside>
    <header>
        <h1><div></div>ORGAMAISTER<div></div></h1>
    </header>
    <aside>
 		<a href="" class="delete"><img src="assets/close.svg" alt=""/></a>
    </aside>
</div>

<form action="" method="post" class="addtags">
    <h2>Voeg tags toe aan <span>{{name}}</span></h2>

	<ul class="inputwrap">
        <div class="taglist"></div>
		<li class="item input">
			<input type="text" name="text" class="name text" value="" autofocus="autofocus" placeholder="..." />
		</li>
	</ul>
    <input type="submit" value="klaar" class="add addproject"/>
</form>

<section class="tags">

	<ul class="tagresults" >
		
	</ul>

</section>