<div class="header">
    <aside>
        <a href="" class="delete"><img src="assets/close.svg" alt=""/></a>
    </aside>
    <header>
        <h1 class="home"><div></div>ORGAMAISTER<div></div></h1>
    </header>
    <aside>
        <a href="#" class="gotomybox"><img src="assets/Maister_logo_green.svg" alt=""/></a>
    </aside>
</div>

<form action="" method="post" class="addtags" id="addtags">
    <h2>Voeg tags toe aan <span>{{name}}</span></h2>

	<ul class="inputwrap">
        <div class="taglist"></div>
		<li class="item input">
			<input type="text" name="text" class="name text" value="" autofocus="autofocus" placeholder="..." />
		</li>
	</ul>
    <input type="submit" value="klaar" class="add addproject"/>
</form>

<img class="scroll_down" src="assets/arrow_down.svg" alt="scroll down"/>

<section class="tags">

    <div class="optionHeader">
        <h1>{{name}} tags uit <a href="#addtags" class="gotomybox"><span>{{box_name}}</span></a></h1>
        <hr>
    </div>

	<ul class="tagresults" >

	</ul>

</section>