<div class="header">
    <aside>
        <a href="#" class="home"><img src="assets/Maister_logo_green.svg" alt=""/></a>
    </aside>
    <header>
        <h1><div></div>ORGAMAISTER<div></div></h1>
    </header>
    <aside>
 		<a href="" class="delete"><img src="assets/close.svg" alt=""/></a>
    </aside>
</div>

<form>
    <h2>Voeg een project toe aan <span>{{name}}</span></h2>
   <input type="text" name="text" class="name textproject" value="" placeholder="..." autofocus="autofocus"/>
    <input type="submit" value="klaar" class="add addproject"/>
</form>


<section class="feedback">

{{!-- <div class="field">

	
	<form action="" method="post" class="addtags">
		<input type="text" name="text" class="textproject" value="" autofocus="autofocus"/>
		<br><br><br>
		<input type="submit" name="" value="voeg project toe" class="addproject"/>
	</form>
</div> --}}

	<ul class="results" >
		
	</ul>
</section>