<div class="tagdetail">
	<a href="#" class="boxdetail"><h2>{{name}}</h2></a>
	<a href="#" id="{{id}}" class="gone">
		<img src="assets/close.svg" alt=""/>
	</a>
	<h3>
		projecten 
		{{!-- <img src="assets/arrow_black.svg" alt=""/> --}}
	</h3>
</div>