<div class="header">
    <aside>
        <a href="#" class="over"><img src="assets/Maister_logo_green.svg" alt=""/></a>
    </aside>
    <header>
        <h1 class="home"><div></div>ORGAMAISTER<div></div></h1>
    </header>
     <aside>
        <a href="" class="delete hidden"><img src="assets/close.svg" alt=""/></a>
    </aside>
</div>

<form>
    <h2>Zoek een project in <span>{{name}}</span></h2>
    <hr>
   <input type="text" name="text" class="name textproject" value="" placeholder="..." autofocus="autofocus"/>
    <input type="submit" value="klaar" class="add addproject"/>
</form>

<img class="scroll_down" src="assets/arrow_down.svg" alt="scroll down"/>

<section class="feedback">

{{!-- <div class="field">

	
	<form action="" method="post" class="addtags">
		<input type="text" name="text" class="textproject" value="" autofocus="autofocus"/>
		<br><br><br>
		<input type="submit" name="" value="voeg project toe" class="addproject"/>
	</form>
</div> --}}

    <div class="optionHeader">
        <h1>Projecten</h1>
        <hr>
    </div>

	<ul class="results" >
		
	</ul>
</section>